<h1>Sitio de admins</h1>
Soy admin
<img src="img/soy-admin.jpg" alt="soy admin">
<img src="../img/soy-admin.jpg" alt="soy admin">
<img src="./img/soy-admin.jpg" alt="soy admin">
<img src="./soy admin.jpg" alt="soy admin">
<img src="/img/soy-admin.jpg" alt="soy admin">
